format = '''
$directory[](fg:base01 bg:base02)$git_branch$git_status[](fg:base02 bg:base03)$nodejs$rust[](fg:base03 bg:base04)$time[](fg:base04)
$character
'''

palette = 'tokyo-mix'

[palettes.tokyo-mix]
base00 = '{{.cheztheme.base00}}'
base01 = '{{.cheztheme.base01}}' 
base02 = '{{.cheztheme.base02}}'
base03 = '{{.cheztheme.base03}}' 
base04 = '{{.cheztheme.base04}}' 
base05 = '{{.cheztheme.base05}}' 
base06 = '{{.cheztheme.base06}}' 
base07 = '{{.cheztheme.base07}}' 
base08 = '{{.cheztheme.base08}}' 
base09 = '{{.cheztheme.base09}}' 
base0A = '{{.cheztheme.base0A}}' 
base0B = '{{.cheztheme.base0B}}' 
base0C = '{{.cheztheme.base0C}}' 
base0D = '{{.cheztheme.base0D}}' 
base0E = '{{.cheztheme.base0E}}' 
base0F = '{{.cheztheme.base0F}}' 

[directory]
style = 'fg:base06 bg:base01'
format = '[ $path ]($style)'
truncation_length = 3
truncation_symbol = '.../'

[git_branch]
symbol = ''
style = 'fg:base06 bg:base02'
format = '[ $symbol $branch ]($style)'

[git_status]
style = 'fg:base06 bg:base01'
format = '[[$all_status$ahead_behind](bg:base01)]($style)'
staged = '[+$count ](fg:base06 bg:base02)'
modified = '[!$count ](fg:base06 bg:base02)'
deleted = '[-$count ](fg:base06 bg:base02)'
untracked = '[?$count ](fg:base06 bg:base02)'
conflicted = '[~$count ](fg:base06 bg:base02)'
renamed = '[»$count ](fg:base06 bg:base02)'
stashed = '[S$count ](fg:base06 bg:base02)'
ahead = '[⇡$count ](fg:base06 bg:base02)'
behind = '[⇣$count ](fg:base06 bg:base02)'
diverged = '[⇕$count ](fg:base06 bg:base02)'

[nodejs]
symbol = ''
style = 'bg:base02'
format = '[[ $symbol ($version) ](fg:base06 bg:base03)]($style)'

[rust]
symbol = ''
style = 'bg:#212736'
format = '[[ $symbol ($version) ](fg:base06 bg:base03)]($style)'

[time]
style = 'fg:base01 bg:base04'
disabled = false
time_format = '%R'
format = '[  $time ]($style)'
