{{- if eq .chezmoi.os "darwin"}}
shell /bin/zsh
{{- end }}
{{- if eq .chezmoi.os "linux"}}
shell /usr/bin/zsh
{{- end }}
font_size 14.0
force_ltr no
font_family JetBrainsMono Nerd Font
foreground {{.cheztheme.base06}}
background {{.cheztheme.base00}}
color0 {{.cheztheme.base00}}
color1 {{.cheztheme.base01}}
color2 {{.cheztheme.base02}}
color3 {{.cheztheme.base03}}
color4 {{.cheztheme.base04}}
color5 {{.cheztheme.base05}}
color6 {{.cheztheme.base06}}
color7 {{.cheztheme.base07}}
color8 {{.cheztheme.base08}}
color9 {{.cheztheme.base08}}
color10 {{.cheztheme.base0A}}
color11 {{.cheztheme.base0B}}
color12 {{.cheztheme.base0C}}
color13 {{.cheztheme.base0D}}
color14 {{.cheztheme.base0E}}
color15 {{.cheztheme.base0F}}
