{{- if eq .chezmoi.os "darwin"}}
shell /bin/zsh
{{- end }}
{{- if eq .chezmoi.os "linux"}}
shell /usr/bin/zsh
{{- end }}
font_size 14.0
force_ltr yes
font_family FiraCode Nerd Font Mono
foreground {{.cheztheme.base05}}
background {{.cheztheme.base00}}
color0 {{.cheztheme.base00}}
color1 {{.cheztheme.base08}}
color2 {{.cheztheme.base0B}}
color3 {{.cheztheme.base0A}}
color4 {{.cheztheme.base0D}}
color5 {{.cheztheme.base0E}}
color6 {{.cheztheme.base0C}}
color7 {{.cheztheme.base05}}
color8 {{.cheztheme.base03}}
color9 {{.cheztheme.base09}}
color10 {{.cheztheme.base01}}
color11 {{.cheztheme.base02}}
color12 {{.cheztheme.base04}}
color13 {{.cheztheme.base06}}
color14 {{.cheztheme.base0F}}
color15 {{.cheztheme.base07}}
