return {
	base00 = "{{.cheztheme.base00}}",
	base01 = "{{.cheztheme.base01}}",
	base02 = "{{.cheztheme.base02}}",
	base03 = "{{.cheztheme.base03}}",
	base04 = "{{.cheztheme.base04}}",
	base05 = "{{.cheztheme.base05}}",
	base06 = "{{.cheztheme.base06}}",
	base07 = "{{.cheztheme.base07}}",
	base08 = "{{.cheztheme.base08}}",
	base09 = "{{.cheztheme.base09}}",
	base0A = "{{.cheztheme.base0A}}",
	base0B = "{{.cheztheme.base0B}}",
	base0C = "{{.cheztheme.base0C}}",
	base0D = "{{.cheztheme.base0D}}",
	base0E = "{{.cheztheme.base0E}}",
	base0F = "{{.cheztheme.base0F}}",
}
